body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: lightgray;
}

header {
    margin: 20px 20px 0px 20px;
}

h1 {
    color: lightseagreen;
}

button {
    border: none;
    background-color: lightseagreen;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: lightseagreen;
}

main {
    font-size: 20px;
    text-align: center;
    margin: 50px;
    padding: 80px;
}

#startquiz, #endquiz {
    display: none;
}



@media (max-width: 768px) {
    main {
      padding: 20px;
    }
  
  @media (max-width: 500px) {
    main {
        padding: 20px;
      }
  }}